body {
    background-image: url("../img/fond.jpg");
    background-size: cover;
}

h1{
    color: #4B5943;
}

.divContent{
    background-color: #8FB43A;
    margin: auto;
    border: solid;
    border-color: #4B5943;
}
